Repository NCAR/wrfcloud, pull requests merged in 2023-03, with the labels that each got.

#157 Enhancement/150 domain center
  python/src/wrfcloud/api/actions/action.py
  python/src/wrfcloud/api/actions/wrf.py
  python/src/wrfcloud/api/handler.py
  python/src/wrfcloud/aws/pcluster.py
  python/src/wrfcloud/config/config.py
  python/src/wrfcloud/config/config_dao.py
  python/src/wrfcloud/jobs/job.py
  python/src/wrfcloud/jobs/job_dao.py
  python/src/wrfcloud/runtime/geogrid.py
  python/src/wrfcloud/runtime/postproc.py
  python/src/wrfcloud/runtime/run.py
  python/src/wrfcloud/runtime/tools/geojson.py
  python/src/wrfcloud/setup/__init__.py
  web/src/app/client-api.ts
  web/src/app/wrf-viewer/wrf-viewer.component.ts
Labels: component: API, component: web ui, component: NWP components

#158 Added a top layer to the map that contains political boundaries.
  web/src/app/wrf-viewer/wrf-viewer.component.html
  web/src/app/wrf-viewer/wrf-viewer.component.sass
  web/src/app/wrf-viewer/wrf-viewer.component.ts
Labels: component: web ui

#160 Feature/117 website style
  web/src/app/activate/activate.component.sass
  web/src/app/app.component.html
  web/src/app/app.component.sass
  web/src/app/edit-model-configuration/edit-model-configuration.component.html
  web/src/app/edit-model-configuration/edit-model-configuration.component.sass
  web/src/app/edit-user/edit-user.component.html
  web/src/app/edit-user/edit-user.component.sass
  web/src/app/error-dialog/error-dialog.component.sass
  web/src/app/host-config.ts
  web/src/app/job-details/job-details.component.html
  web/src/app/job-details/job-details.component.sass
  web/src/app/launch-wrf/launch-wrf.component.sass
  web/src/app/login/login.component.sass
  web/src/app/manage-users/manage-users.component.html
  web/src/app/manage-users/manage-users.component.sass
  web/src/app/model-config/model-config.component.html
  web/src/app/model-config/model-config.component.sass
  web/src/app/preferences/preferences.component.html
  web/src/app/preferences/preferences.component.sass
  web/src/app/reset-password/reset-password.component.sass
  web/src/app/view-jobs/view-jobs.component.html
  web/src/app/view-jobs/view-jobs.component.sass
  web/src/app/wrf-viewer/wrf-viewer.component.sass
  web/src/assets/favicon/android-chrome-192x192.png
  web/src/assets/favicon/android-chrome-512x512.png
  web/src/assets/favicon/apple-touch-icon.png
  web/src/assets/favicon/favicon-16x16.png
  web/src/assets/favicon/favicon-32x32.png
  web/src/assets/favicon/favicon.ico
  web/src/assets/favicon/site.webmanifest
  web/src/assets/logo.png
  web/src/assets/ropa-mix-pro.woff
  web/src/globals.sass
  web/src/index.html
  web/src/styles.sass
Labels: component: web ui

#159 Created the ability to duplicate a configuration instead of edit only.
  python/src/wrfcloud/config/config.py
  web/src/app/client-api.ts
  web/src/app/edit-model-configuration/edit-model-configuration.component.html
  web/src/app/edit-model-configuration/edit-model-configuration.component.ts
  web/src/app/model-config/model-config.component.ts
Labels: component: web ui

#169 Resolve the NodeJS version dynamically, but we still want to use major version 16
  install_bootstrap.sh
Labels: type: bug

#175 46-height-selector
  web/src/app/wrf-viewer/wrf-viewer.component.html
  web/src/app/wrf-viewer/wrf-viewer.component.sass
  web/src/app/wrf-viewer/wrf-viewer.component.ts
Labels: component: web ui

#178 Feature/173 save log files
  docs/Users_Guide/administration.rst
  python/src/wrfcloud/runtime/run.py
Labels: component: NWP components

#179 161-apply-transparency-to-3d
  web/src/app/wrf-viewer/wrf-viewer.component.ts
Labels: component: web ui

#174 Feature/118 119 122 update ug
  docs/Users_Guide/administration.rst
  docs/Users_Guide/graphics.rst
  docs/Users_Guide/overview.rst
  docs/Users_Guide/refs.rst
  docs/Users_Guide/release-notes.rst
  docs/Users_Guide/user_interface.rst
  docs/conf.py
  docs/index.rst
Labels: component: documentation, priority: blocker, required: FOR OFFICIAL RELEASE
